body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.titulo {
	font-size: 70px;
	line-height: 90px;
	margin-bottom: 0;
}

.descripcion {
	font-size: 25px;
	margin-top: 0;
}

.title_toy{
	font-size: 50px;
	margin-bottom: 15px;
}

.juguetes {
	color: #302c5f;
	padding-top: 1px;
}

.juguetes h2{
	font-size: 35px;
}

.portada {
	background: #7f0dff;
	color: #ffffff;
	padding-top: 20px;
	padding-bottom: 90px;
	height: 350px;
}

.menu {
	color: #ffffff;
	font-size: 25px;
	display: inline-block;
	position: absolute;
	right: 0;
}

.menu li {
	display: inline-block;
	margin-left: 25px;
}

.logotipo {
	display: inline-block;
	margin-left: 0;
}

.contenedor a {
	text-decoration: none;
}

.button {
	color: #FFFFFF;
	background-color: #FFC107;
	border-radius: 8px;
	border: none;
	padding: 7px;
	font-size: 18px;
	cursor: pointer;
	background: linear-gradient(to left, #FFC107, #ECBB28);
}

.header {
	position: relative;
}

.header-precios {
	background: #7f0dff;
	padding-top: 20px;	
	padding-bottom: 20px;
}

.contenedor {
	width: 800px;
	margin: auto;
}

.toy_left {
	float: left;
	position: relative;
	top: 5px;
}

.toy_right {
	float: right;
	position: relative;
	top: -65px;
}

.toy {
	border: 3px solid #302c5f;
	padding: 15px;
	margin: 15px 15px 0 0;
	height: 280px;
	border-radius: 25px 20px 15px 10px;
}

.contenedor-toy-left {
	margin-left: 440px;
}

.contenedor-toy-right {
	padding-left: 160px;
}

.toy div ol {
	padding: 0;
}

.footer {
	background-color: #7f0dff;
	margin-top: 30px;
}

.contacto {
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.contacto img {
	display: block;
}

.contacto strong {
	display: block;
}

.contacto a {
	color: #ffffff;
	text-decoration: none;
	margin: 10px 10px 10px 10px;
}

.footer .contenedor {
	display: flex;
	justify-content: space-between;
}

.formulario {
	display: flex;
	width: 450px;
	color: #FFFFFF;
	padding:50px 10px;
}

.datos, .comentarios{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.datos {
	margin-right: 15px;
}

.intereses {
	display: flex;
	flex-wrap: wrap;
}

.intereses label {
	font-size: 12px;
}

.formulario label, .sexo, .intereses {
	margin-top: 10px;
}

.sexo {
	display: flex;
	flex-wrap: wrap;
}

.comentarios {
	align-items: flex-start;
}

table {
	width: 100%;
	margin-top: 100px;
	margin-bottom: 100px;
}

th {
	background-color: #7f0dff;
	color: #FFFFFF;
	padding: 10px;
	text-align: left;
}

td {
	padding: 20px;
}

table,td ,th {
	border: 1px solid #7f0dff;
	border-collapse: collapse;
}

.menu ul li a {
	text-decoration: none;
	color: #ffffff;
}